//this are the basic defination of our project
*,
*::after,
 ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* margin: 0px;
     padding: 0px;
     box-sizing:border-box; */
}


/* 
  root font size if done in html selector 
  converting root font size values and migrating font-size from px to rem for building an better responsive pages so while building pages all the sizes are decreased simultaneously 
 */


/* '
     1 rem is equal to 10 px 
  */

html {
    /*
     here we are setting default font-size for the browser view 
     (10/16)=0.625*100=62.5%,0.625*20=12.5
     
     */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    /* padding: 30px; */
    padding: 3rem;
}