// variables for colors 
$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-orange:orange;
$color-primary-light:#7ed56f;
$color-grey-dark: #777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
// my colors
$color-my-blue:#00203fff;
$color-my-green:#ADEFD1FF; // fonts
$color-my-red: #cc0033;
$color-my-purple: #7a0085;
$default-font-size:1.6rem;
// variables that comes under grid system 
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;