// very specific to home page 
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient( to right top, rgba(#101010, 0.6), rgba( #484848, 0.4)), url("../img/mysky.jpg");
    background-size: cover;
    // another way of adding skew section with using clipath property
    transform: skewY(-7deg);
    margin-top: -10rem;
    // one way doing it 
    // select all the child elements 
    // and skew it in y direction of +7 degrees  
    // &>* {
    //     transform: skewY(7deg);
    // }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 20rem 0 16rem 0;
    margin-top: -9rem;
}

.section-stories {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
}